/* Style for background */

body {
    width: 100wh;
    height: 100vh;
    background: linear-gradient(-45deg, #c8e6fc, rgb(15, 203, 236), #c8e6fc, rgb(36, 124, 255), rgb(6, 233, 21)), green;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* 
#particles-js{
    background-color: rgb(19, 107, 30);
    z-index: -1;
}

canvas{
	display:block;
	vertical-align:bottom;
}
*/

/* Navigation Styling */

.hero-head {
    position: fixed;
    height: 0px;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: #c9e7fc;
}

.navbar-pic {
    width: 216px;
    margin-bottom: -7px;
}

/* End Navigation Styling */

/* style for buttons */

.text-center {
    text-align: center !important;
}

.page-top {
    position: absolute;
    top: 0;
}

.rounded-circle {
    border-radius: 50% !important;
}

.btn-outline-light {
    color: #117be6;
    background-color: transparent;
    background-image: none;
    border-color: #3d5063;
}

.list-inline {
    display: inline-flex;
}

/* Tile Styling */

.tile {
    text-align: center;
  
}


/* Footer style */

#footer {
    padding: 0;
    background-color: #c9e7fc;
    line-height: 0;
    margin-top: 30px;
}

.scroll {
    margin-top: -25;
}

h1 {
    font-size: 7rem;
    position: absolute;
    top: 35%;
    left: 35%;
    color: #FFF;
    font-family: teko;
    font-weight: 400;
    text-shadow: 5px 5px #5F6D72;
    text-transform: uppercase;
}

/* Styling for random donate buttons "charity name" */

#wordbox {
    position: relative;
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: black;
    transition: 1s linear;
}

#button {
    position: relative;
    background: #0b7fba;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

/* End Charity button styling */

.success {
    padding-top: 65px;
    padding-bottom:70px;
    margin-right:20px;
    margin-left:20px;
    text-align: center;
}

/* Contact us Styling */

.hero-head {
    bottom: 0px;
    top: 0px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
}